body {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.mycontainer {
    /* border: 1px solid black; */
    margin: auto;
    width: 31.1em;
    margin-top: 150px;
    height: 318px;
    background-color: black;
    border-radius: 7px;
}

input {
    margin-left: 0.7em;
    height: 2.5em;
    width: 22.9em;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 21px;
    color: white;
    caret-color: transparent;
}

button {
    border-radius: 39px;
    width: 58px;
    height: 45px;
    color: white;
    font-size: 16px;
    margin-right: 2px;
    margin-top: 2px;
    margin-left: 1px;
}

button:hover {
    opacity: 0.8;
    transition: all 0.2s;
}

.light-brown {
    background-color: rgb(80, 71, 71);
}

.dark-brown {
    background-color: rgb(62, 33, 33);
}

.green {
    background-color: rgb(120, 180, 47);
}
